@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --purple: #7d83ff;
  --lightgrey: #f0f0f0;
  --red: #fb3640;
  --grey: #353434;
}

h1,h2,h3,h4,h5,h6,p,div {
  color: var(--grey);
  font-family: 'Nunito';
}

nav {
  background-color: var(--purple);
  color: white;
}

section.banner {
  background-color: var(--purple);
  padding-top: 80px;
  padding-bottom: 30px;
  color: white;
}

ul.display-list {
  padding-left: 0;
  text-align: left;
  list-style: none;
}

ul.display-list > li.item > .row {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.item {
  background: var(--lightgrey);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.del-item-btn {
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  border-radius: 50%;
}

.category-box{
  width: 125px;
  height: 125px;
}
.category-box[data-category="Food"] {
  background-color: pink;
}

.category-box[data-category="Transport"] {
  background-color: lightskyblue;
}

.category-box[data-category="Movie"] {
  background-color: lavender;
}

.category-box[data-category="Other"] {
  background-color: turquoise;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  .del-item-btn {
    visibility: hidden;
    background-color: var(--red);
  }
  .item:hover > .row > .del-item-btn {
      visibility: visible;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .item {
    margin: 5px;
    padding: 8px;
  }

  .category-box{
    width: 80px;
    height: 80px;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 4px;
  }

  .del-item-btn {
    right: -10px;
    top: -10px;
  }
}

.add-item-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.save-item-btn {
  float: left;
}