.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul.display-list {
  padding-left: 0;
  text-align: left;
}

.item {
  background: lightblue;
  width: 30%;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}

.item[data-category="Food"] {
  background-color: pink;
}

.item[data-category="Transport"] {
  background-color: lightskyblue;
}

.item[data-category="Movie"] {
  background-color: lavender;
}

.item[data-category="Other"] {
  background-color: turquoise;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .item {
    width: calc(50% - 10px);
    margin: 5px;
    padding: 8px;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 4px;
  }

  .btn {
    font-size: 0.8rem;
  }
}

.add-item-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.save-item-btn {
  float: left;
}